<html>
    <head>
        <link rel="stylesheet" href="home.scss"/>
        <style> #redmap_nav_container { display: none } </style>
    </head>
    <body>
        <img src="/assets/main_image.jpg" alt="main_image" id="main_image" usemap="#Map";/>
        <map name="Map" id="Map">
       <!--신고하기-->
            <area alt="신고하기" href="/home/main.html" shape="poly" coords="295.7099609375,3.709991455078125,13.569976806640625,11.569992065429687,21.42999267578125,185.13998413085937" />
        <!--조회하기-->
            <area alt="조회하기" href="/home/index.html" shape="poly" coords="312.8599853515625,76.57000732421875,19.28997802734375,251.56997680664062,27.1400146484375,385.8599853515625,343.57000732421875,223.70999145507812" />
        <!--신고현황-->
            <area alt="신고현황" href="/home/notice.html" shape="poly" coords="337.8599853515625,295.1400146484375,35,477.28997802734375,53.57000732421875,600.1399536132812,346.42999267578125,443" />
        </map>
    </body>
</html>