<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    
    <!-- application CSS -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="notice.css">
  
</head>

<!-- Contenedor -->
	<ul id="accordion" class="accordion">
	  <li>
	    <div class="link">10월 10일 상황보고<i class="fa fa-chevron-down">▴</i></div>
    	    <ul class="submenu">
    	        <li><b>신고내역</b><br>
    			1. 서울역
    			<li><b>답변</b><br>
    			고객님! 안녕하십니까? <br>
    			서울교통공사 서울4역 역장입니다. <br>
    			항상 저희 서울교통공사를 이용하여 주시는 고객님께 감사드리며, 저희 서울역 화장실을 이용하시는 중에 역사 시설물로 인해 불편을 끼쳐드려 죄송합니다.<br>
    			<br>
    			요즘 몰래카메라 범죄 때문에 고객님의 우려처럼 우리공사에서도 정기적으로 지하철수사대와 같이 점검을 강화하고 있습니다.<br>
    			고객님이 지적해 주신 화장실은 관계부처에 조치토록 의뢰하였습니다. 또한 지하철 시설물의 순회점검과 예방에 더욱 최선을 다하도록 전 직원에 대해 교육을 더욱 강화하도록 하겠습니다.<br>
    			<br>
    			앞으로도 지하철을 이용하시다가 불편하시거나 도움이 필요한 사항이 있으시면 언제라도 저희 서울(4)역(02-6110-4261) 및 고객 콜센터(☎ 02-1577-1234)로 소중한 의견 주시면 최선을 다해 처리토록 하겠습니다.<br>
    			<br>
    			고객님의 가정에 항상 건강과 행복만 가득하시길 기원드립니다. 감사합니다.</li>
    			<br>
    			<center><a href="http://www.seoulmetro.co.kr/kr/vocList.do?menuIdx=376&cdvocchannel=1" target="_blank"><b>전문 확인하기</b></a></center><br>
    		  </li>
    	    </ul>
	  </li>
	</ul>

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
	<script>
		$(function() {
			var Accordion = function(el, multiple) {
				this.el = el || {};
				this.multiple = multiple || false;
				// Variables privadas
				var links = this.el.find('.link');
				// Evento
				links.on('click', {el: this.el, multiple: this.multiple}, this.dropdown)
			}
			Accordion.prototype.dropdown = function(e) {
				var $el = e.data.el;
					$this = $(this),
					$next = $this.next();
				$next.slideToggle();
				$this.parent().toggleClass('open');
				if (!e.data.multiple) {
					$el.find('.submenu').not($next).slideUp().parent().removeClass('open');
				};
			}	
			var accordion = new Accordion($('#accordion'), false);
		});
	</script>
	
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36251023-1']);
	  _gaq.push(['_setDomainName', 'jqueryscript.net']);
	  _gaq.push(['_trackPageview']);
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>