<!-- mh : photo_view 페이지 -->
<head>
    <!--navbar를 위한 application.scss-->
    <link rel="stylesheet" href="application.scss"/>
	<!--report.css-->
	<link rel="stylesheet" href="photo_view.css"/>
</head>
<body>
    <img alt="서비스를 준비중입니다." id="ready_page" src="/assets/ready.jpg"></img>
</body>

