<!-- mh : 사진 신고 완료 페이지 -->
<head>
    <!--navbar를 위한 application.scss-->
    <link rel="stylesheet" href="application.scss"/>
	<!--report.css-->
	<link rel="stylesheet" href="report.css"/>
</head>
<body>

        <img alt="신고가 접수되었습니다." id="report_accept" src="/assets/report_accept.jpg"></img>

</body>