/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



/*font 적용*/
@font-face {
    font-family: "RoadWC98" !important;
    src : local(※), url('assets/fonts/RoadWC98.otf') format('opentype');

    
} 

* {font-family:'RoadWC98';
    background-color:#FFFFFF; }


/*navbar*/
/*web version*/
#redmap_nav{
   
}

/*mobile version*/
@media (min-width: 300px) and (max-width: 767px){
    #redmap_nav_container{
        width: 100%;
        height: 10vh;
        background-color: #FFFFFF;
    }
    #redmap_nav{
        /*min-width: 300px;*/
        /*max-width: 300px;*/
        /*min-height: 150px;*/
        /*max-height: 150px;*/
        width: 100%;
        height:10vh;
        position: fixed;
        z-index:100;
        background-color: #FFFFFF;
    }
}

/*navbar items*/
/*web version*/
#redmap_nav{
   
}

/*mobile version*/
@media (min-width: 300px) and (max-width: 767px){
   .redmap_nav_items{
       margin: 0px;
       padding: 15px;
       width: 100%;
       height: 10vh;
   }
   
   #back_btn{
       width: 100%;
       height: 100%;
   }
   #home_btn{
       width: 100%;
       height: 100%;
   }
}