// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*mh : index page의 이미지 크기 맞추기*/
/*web version*/
#main_image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height:100vh;
    width:auto;
}

/*mobile version*/
@media (min-width: 300px) and (max-width: 767px){
   #main_image{
        height:100vh;
        width:100%;
    }
}
